<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link href="./css/styles.css" rel="stylesheet">
</head>
<body>
    {{>header}}
    <img src="./img/logo.png">
    <p><strong>Get The Current Weather Forecast For Any Location</strong></p>
        <ol>1) Go To Weather Page</ol>
        <ol>2) Type In Location Name</ol>
        <ol>3) View The Weather Forecast</ol>
    {{>footer}}
</body>
</html>